*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: normal;
}
.bgimg{
  background-image: url("../images/2348037618013_status_bebc5f62070047399aaae827e0ebb11b.jpg");
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: top;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.bgh1{
  color: white;
  font-size: 36px;
  font-weight: normal;
}
.bgh1 span{
  background-color: #00000099;
  padding: 3px 15px;
  text-align: center;
  font-weight: bold;
}
.all{
  padding: 30px;
}

.aboutcatering{
  display: flex;
  border-bottom: 3px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 80px;
  justify-content: space-between;
}
.aboutcatering img{
  width: 100%;
}
.about1{
  width: 49%;
}
.catsec{
  font-weight: lighter;
  word-spacing: 0.1em;
  width: 49%;
}
.catsec h1{
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 24px;
  padding-bottom: 5px;
}
.subhead{
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 00.2em;
}
.catsec p{
  font-size: 15px;
}

span{
  background-color: #eee;
}
.subpara{
  color: rgb(136, 133, 133);
}
.flex2con{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sec{
  width: 100%;
  margin-bottom: 30px;
}
.sec img{
  width: 100%;
}
.sec h3{
  text-align: center;
  padding: 20px 0px;
}
.sec a{
  color: black;
  text-decoration: none; 
  width: 100%;
  padding: 10px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  background-color: #eee;
}
.team1{
  height: 310px;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
}
footer p{
  padding: 30px;
  margin-top: 0px 40px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* body {background: green;} */
  .flex2con{
    flex-direction: column;
  }
  .sec{
    width: 100%;
  }
  .bgimg{
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (min-width: 768px) {
  /* body {background: blue;} */
  .flex2con{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sec{
    width: 49%;
  }
  .about1{
    width: 45%;
  }
  .catsec{
    width: 45%;
  }
  .catsec h1{
    font-size: 40px;
  }
  .subhead{
    padding-bottom: 20px;
  }
  .catsec p{
    line-height: 25px;
    font-size: 18px;
  }
  
  span{
    background-color: #eee;
  }
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* body {background: orange;} */
  .flex2con{
    flex-direction: row;
  }
  .sec{
    width: 24%;
  } 
  .bgimg{
    background-repeat: repeat;
    background-size: contain;
  }
}